body {
    font-family: arial;
    margin: auto;
    max-width: 960px;
    text-align: center;
    background: #efefef;
    position: relative;
}

.btn_wrapper button:focus, .btn_wrapper button:active {
    outline: none;
}

.btn_wrapper button {
    padding: 10px;
    display: inline;
    margin-bottom: 15px;
    min-width: 150px;
    background-color: #72C3DC;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 6px #2B8EAD;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.card {
    background: #efefef;
}

    .card p {
        margin: 5px;
        padding: 5px;
    }

.grid {
    margin: 0 20px;
}

header {
    padding: 10px;
    background: #000;
    color: #fff;
    margin-bottom: 5px;
}

footer {
    clear: both;
}

.card_1 {
    border-left: 10px solid #6F98A8;
}

.card_2, .card_4 {
    border-left: 10px solid #2B8EAD;
}

.card_3, .card_5, .card_9 {
    border-left: 10px solid #2F454E;
}

.card_6, .card_7 {
    border-left: 10px solid #BFBFBF;
}

.card_8 {
    border-left: 10px solid #6F98A8;
}

@media (min-width: 960px) {
    .wrapper {
        background: #efefef;
    }

    header {
        background: none;
        color: #000;
    }

    .btn_wrapper {
        width: 30%;
        float: right;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        float: left;
        margin: 0;
    }

    .card {
        flex: 0 0 calc(33% - 10px);
    }

        .card p {
            font-size: 2em;
            margin: 32px;
            color: #fff;
        }

    .card_1 {
        background-color: #6F98A8;
    }

    .card_2, .card_4 {
        background-color: #2B8EAD;
    }

    .card_3, .card_5, .card_9 {
        background-color: #2F454E;
    }

    .card_6, .card_7 {
        background-color: #BFBFBF;
    }

    .card_8 {
        background-color: #6F98A8;
    }
}
